text { 

  font-size: .8em; fill: grey; 
  
} 


rect { 

  fill: rgb(219, 84, 84) 

} 

.tooltip { 

  font-weight: bold; 

} 

rect:hover { 

  fill: rgba(255, 105, 105, 0.7); /* Change opacity for hover effect */ 

}